<!DOCTYPE html>
<html lang="pt-br">

<head>
  <meta charset="UTF-8">
  <link rel="stylesheet" href="/styles.css">

  {% block head %}
  <title>Foodfy | Receitas inteligentes</title>
  {% endblock %}

</head>

<body>
  <div class="page-container">
    <div class="content-wrapper">
      <header class="header">
        <div class="header-logo">
          <img src="/assets/logo.png" alt="Foodfy logo">
        </div>
        <div class="header-nav">
          <a href='/'>Home</a>
          <a href='/about'>Sobre</a>
          <a href='/recipesList'>Receitas</a>
        </div>
      </header>
      {% block content %}

      {% endblock %}



    </div>
    <footer class="footer">
      <p>Todos os direitos reservados, receitas Foodfy.</p>
    </footer>
  </div>

  <script src="/scripts.js"></script>
</body>

</html