{% extends 'layout.njk' %}

{% block head %}
<title>Receita não encontrada!</title>
{% endblock %}

{% block content %}

<div class="recipeDetail-wrapper">
  <div class="recipeDetail-titleWrapper">
    <div class="recipeDetail-title">

      <p>Desculpe, receita não encontrada.</p>
    </div>
  </div>
</div>
{% endblock %}