header .edit-buttons {
  display: flex;
  text-align: center;
}

header .edit-buttons .button {
  background-color: var(--primary-color);
  min-height: 37px;
  min-width: 139px;
  margin-left: 16px;
}

header .edit-buttons a:nth-child(2) {
  background-color: #8a8a8a;
}

header .edit-buttons .delete-button {
  width: 139px;
}

.user-register {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-column-gap: 40px;
  grid-row-gap: 6px;
}

.user-register .item input {
  padding: 15px 20px;
}

.item.checkbox div{
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.item.checkbox div input {
  width: initial;
  height: initial;
  margin: 0 8px 0 0;
}



