@keyframes hidemessage {
  to {
    top: -250px;
    opacity: 0;
  }
}

.messages {
  display: flex;
  justify-content: center;
  padding: 16px;
  position: absolute;
  opacity: 1;

  max-width: 344px;
  min-height: 135px;

  font-weight: bold;

  justify-content: center;
  align-items: center;
  text-align: center;

  margin: 12px 18px;
  right: 0;
  top: 0;

  border-radius: 4px;

  animation: hidemessage 400ms 5s ease-in-out forwards;
}

.messages.error {
  background-color: #DC4747;
  color: white;
}

.messages.success {
  background-color: rgb(28, 184, 36);
  color: white;
}

