/*== RECIPES ==*/

.recipes {
  width: 940px;
  margin: 0 auto;
  padding-bottom: 40px;
}

.recipes-title {
  font-size: 24px;
  line-height: 34px;
  font-weight: bold;
  margin-bottom: 20px;
}

.recipes-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
}

.recipes-grid .recipe-img img {
  height: 80px;
  width: 172px;
  border-radius: 8px;
  object-fit: cover;
  object-position: center;
  margin:0;
}


.recipes-grid .recipe {
  display: grid;
  grid-template-columns: auto 1fr;
  grid-gap: 20px;
}

.recipe-content {
  font-size: 18px;
}

.recipe-content a {
  font-size: 18px;
  margin-bottom: 5px;
}

.recipe-author {
  color: #777;
  margin-bottom: 8px;  
}

.recipe-author a {
  font-size: 14px;
}

/*=== RECIPE ===*/

.recipeDetail-wrapper {
  margin: 0 auto;
  width: 940px;
  padding-bottom: 50px;
}

.recipeDetail-img img {
  border-radius: 15px;
  height: 100%;
}

.recipeDetail-img {
  width: 100%;
  height: 280px;
  overflow: hidden;
  border-radius: 15px;
  margin-bottom: 50px;
  text-align: center;
}

.recipeDetail-titleWrapper {
  padding-bottom: 50px;
}

.recipeDetail-title {
  display: flex;
  justify-content: center;
  font-size: 36px;
  line-height: 46px;
  font-family: 'Roboto';
  font-weight: bold;
  color: #111;
}

.recipeDetail-author {
  display: flex;
  justify-content: center;
  font-size: 20px;
  line-height: 30px;
  color: #777;
}

.recipeDetail-content h4 {
  padding-bottom: 20px;
  font-weight: bold;
  font-size: 24px;
  line-height: 34px;
  color: #111
}

.recipeDetail-content ul {
  font-size: 18px;
  line-height: 28px;
  color: #444;
  padding-bottom: 39px;
  list-style-type: none;
}

.recipeDetail-content ul li:before {
  content: '-';
  margin-right: 8px;
}


.recipeDetail-content .information p {
  font-size: 18px;
  line-height: 28px;
  color: #444;
  white-space: pre-line;
}

/*=== TOGGLE RECIPE ===*/

.toggle {
  display: flex;
  align-items: center;
}

.toggle a {
  padding-bottom: 20px;
  padding-left: 8px;
  color: #999;
  line-height: 19px;
  font-weight: bold;
  font-family: inherit;
  cursor: pointer;
}

.hide {
  visibility: hidden;
  max-height: 0px;
}


/* lightbox recipe gallery */

.highlight .lightbox-target {
  position: fixed;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, .7);
  overflow: hidden;
  z-index: 99;

  left: 0;


  top: -100%;
  opacity: 0;

  transition: 400ms;
}

.highlight .lightbox-target img {
  margin: auto;

  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;

  background-color: white;
  box-shadow: 0px 0px 8px rgba(0, 0, 0, .3);

  width: 90%;
  height: 90%;

  object-fit: contain;

}

.highlight a.lightbox-close {
  width: 50px;
  height: 50px;
  background-color: white;
  position: absolute;
  right: 0;
  top: -80px;

  display: flex;
  align-items: center;
  justify-content: center;

  transition: 400ms;
}

.item .field-container div{
  display: flex;
  align-items: center; 
}

.item .field-container div span {
  margin-left: 8px;
  color: #DC4747;
  background: none;
  cursor: pointer;
}

.item div select {
  color: #111;
  background: #fff;
  padding: 16px;
  height: 50px;
  border-radius: 4px;
  border: 1px solid #ddd;
}

