{% extends 'site/layout.njk' %}

{% block content %}
<section class='recipes'>
  <h2 class='recipes-title'>
    {% if filter %}
    Buscando por "{{filter}}"
    {% endif %}
  </h2>
  <div class="recipes-grid">
    {% for recipe in recipes %}

    <div class="recipe">
      <div class="recipe-img">
        <a href='/recipes/recipe/{{recipe.id}}'>
          <img src="{{recipe.image}}" alt="" class="Image de {{recipe.title}}">
        </a>
      </div>
      <div class="recipe-content">
        <a href='/recipes/recipe/{{recipe.id}}'>
          <p>{{recipe.title}}</p>
        </a>
      </div>
      <div class="recipe-author">
        <a href='/recipes/recipe/{{recipe.id}}'>
          <p>
            {% if recipe.chefs_name == null %}por Chef Anônimo{% endif %}
            {% if recipe.chefs_name != null %}por {{recipe.chefs_name}}{% endif %}
          </p>
        </a>
      </div>
    </div>
    {% endfor %}

    <div class="pagination" data-page={{pagination.page}} data-total={{pagination.total}} data-filter={{filter}}></div>
  </div>
  {% endblock %}