{% extends 'client/layout.njk' %}

{% block content %}
<section class='recipes'>

  <div class="recipes-grid">
    {% for recipe in recipes %}

    <div class="recipe">
      <div class="recipe-img">
        <a href='/recipes/recipe/{{recipe.id}}'>
          <img src="{{recipe.image}}" alt="" class="Image de {{recipe.title}}">
        </a>
      </div>
      <div class="recipe-content">
        <a href='/recipes/recipe/{{recipe.id}}'>
          <p>{{recipe.title}}</p>
        </a>
      </div>
      <div class="recipe-author">
        <a href='/recipes/recipe/{{recipe.id}}'>
          <p>por {{recipe.author}}</p>
        </a>
      </div>
    </div>
    {% endfor %}
  </div>
  {% endblock %}