{% extends 'admin/layout.njk' %}

{% block head %}
<title>{{recipe.title}}</title>
{% endblock %}

{% block content %}

<div class="recipeDetail-wrapper">

  <header>
    <a href="/admin/recipes">Voltar</a>
    <a href="/admin/recipes/{{recipe.id}}/edit">Editar receita</a>
  </header>
  <div class="recipeDetail-img">
    <img src="{{recipe.image}}" alt="Image de {{recipe.title}}">
  </div>

  <div class="recipeDetail-titleWrapper">
    <div class="recipeDetail-title">
      <p>{{recipe.title}}</p>
    </div>
    <div class="recipeDetail-author">
      <p>por
        <a href='/admin/chefs/{{recipe.chef_id}}'> {{recipe.chefs_name}}</a>
      </p>
    </div>
  </div>

  <div class="recipeDetail-content">
    <div class="ingredients">
      <div class="toggle">
        <h4>Ingredientes</h4>
        <a>ESCONDER</a>
      </div>


      <div class="toggle-content">
        <ul>
          {% for ingredient in recipe.ingredients%}
          <li>{{ingredient}}</li>
          {% endfor %}
        </ul>
      </div>

    </div>
    <div class="preparation">
      <div class="toggle">
        <h4>Modo de preparo</h4>
        <a>ESCONDER</a>
      </div>

      <div class="toggle-content">
        <ul>
          {% for item in recipe.preparation%}
          <li>{{item}}</li>
          {% endfor %}
        </ul>
      </div>

    </div>

    <div class="information">

      <div class="toggle">
        <h4>Informações adicionais</h4>
        <a>ESCONDER</a>
      </div>

      <div class="toggle-content">
        <p>{{recipe.information}}</p>
      </div>
    </div>
  </div>
</div>
{% endblock %}